*{
    margin: 0;
    padding: 0;
}

.col-3{
    float: left;
    width: 23%;
    text-align: center;

}
/* product section */
.product-section{
    padding: 80px 0;
    width: 100%;

}
.product-section .container{
    width: 80%;
    margin: 0 auto;
    margin: 20px auto;
}
.product-section .title-part{
    text-align: center;
}
.product-section .title-part p{
    color:blue
}
.product-section .title-part h1{
    font-size: 30px;
    text-transform: uppercase;
    margin: 15px 0px;
    padding: 15px;
    background: url(../images/bottom.png)center bottom no-repeat ;
   
}

/* Secon product row */

.col-3 i{
    color: blue;
    font-size: 20px;
}
.col-3 h1{
    font-size: 30px;
    font-family: 'Courier New', Courier, monospace;
    line-height: 30px;

}
.col-3 p{
    font-size: 14px;
    color: brown;
}